#app4 > .wrap {
    height: 12vw;
    width: 12vw;
    border: 1px solid rgb(47, 0, 255);
    margin-left: 3vw;
    margin-top: 3vw;
    border-radius: 50%;
}
#app4 > .wrap.active {
    animation: move 1s infinite alternate linear;
}
@keyframes move {
    0% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}